@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&family=VT323&display=swap');

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    gap: 10px;
}

trix-editor{
    background-color: #ffffff;
    width: 50%;
    height: 240px;
    box-sizing: border-box;
}


.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    width: 400px;
    padding: 10px 20px 20px 20px;
    border:1px solid rgb(210, 210, 210);
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.193);
}

.item   {
    display: flex;
    flex-direction: row-reverse;
}

.equation-box{
    display: flex;
    gap: 5px;
    padding: 2px;
    width: 100%;
    margin-bottom: 15px;

}

.equation-preview{
    font-family: 'Noto Sans Math', sans-serif;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: none;
    font-size: 20px;
    outline: none;
    /* border: 1px solid green; */
    padding-bottom: 0px;
}

.equation-btn-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 5px;
    /* border:1px solid rgb(255, 0, 0); */

}
.equation-btn-box button{
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    outline: none;
    width: 30px;
    height: 30px;
    transition: 0.4s;
    margin-bottom: 3px;
}

.equation-btn-box button:hover{
    background-color: #cacaca;
    cursor: pointer;
}

.container textarea{
    height: 80px;
    resize: none;
    width: 100%;
    outline: none;
    border-radius: 7px;
    padding-left: 5px;
    border: 1px solid rgb(180, 180, 180);
    box-sizing: border-box;
}

.generator-btn{
    background-color: rgb(0, 110, 255);
    color: rgb(255, 255, 255);
    font-size: 11pt;
    font-weight: 500;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 7px;
    margin-top: 5px;
    transition: 0.4s ease-in-out;
}

.generator-btn:hover{
    background-color: rgb(69, 149, 254);
    cursor: pointer;
}

.editor-btn {
    background-color: rgb(0, 110, 255);
    color: rgb(255, 255, 255);
    font-size: 11pt;
    font-weight: 500;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 7px;
    transition: 0.4s ease-in-out;
}

.editor-btn:hover{
    background-color: rgb(69, 149, 254);
    cursor: pointer;
}

.editor-close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    font-size: 14pt;
}
.editor-close-btn:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
}

.hide{
    display: none;
}